.detailsContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.col {
    max-width: 300px;
    height: auto;
    height: 80%;
}

.movieImage {
    border-radius: 15px;
}

.firstItem {
    margin-top: 0;
}

.movieDetails > p {
    color: #ccc;
    font-size: 1.2rem;
}

.movieDetails > p > strong {
    color: #ff43a1;
    font-size: 1.5rem;
}
