.movieCard {
    list-style: none;
    font-size: 19px;
    text-align: center;
}

.movieCard:hover {
    opacity: .7;
}

.movieImage {
    border-radius: 10px;
    background-color: rgb(227, 227, 227);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,.8);
}

@media (max-width: 400px) {
    .movieImage {
        width: 90%;
        height: auto;
    }

    .movieCard {
        font-size: 1.2rem;
    }
}




