.title {
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: hsl(331, 85%, 56%);
    text-shadow: 5px 5px 20px rgba(255, 0, 123, 1);
    font-weight: bold;
}

@media (max-width: 768px) {
    .title {
        font-size: 30px;
        margin-top: 0.7rem;
        text-align: center;
    }
}

header {
    position: sticky;
    margin-top: 1rem;
    width: 100%;
    top: 0;
    background: #181818f4;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 140px;
}

@media (min-width: 768px) {
    header {
        /* flex-direction: row; */
        /* justify-content: space-around; */
        height: 150px;
    }

    header > div {
        flex-direction: row;
        justify-content: space-between;
        height: 150px;
    }
}
